body {
  background: linear-gradient(to right, skyblue, white, violet);

  header {
    font-family: "Space Grotesk", sans-serif;
  }
  .center {
    text-align: center;
  }

  section {
    margin-bottom: 30px;
  }
}

h2.bio {
  font-family: "Science Gothic", sans-serif;
  color: rgb(58, 122, 61);
  position: relative;
  width: max-content;
  margin: auto;
  padding-bottom: 5px;

  &::after {
    content: "";
    background: linear-gradient(to right, green, blue, red);
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: 300ms ease-in-out;
  }

  &:hover {
    color: rgba(58, 122, 61,0.6);
    & + table {
      font-weight: 900;
      color: darkred;
    }
  }

  &:hover::after {
    width: 100%;
  }
}

header > img {
  border-radius: 50%;

  &:hover {
    border: 3px solid blue;
  }
}
